<div class="container">
  <div class="row header-bg">
    <div class="col-12">
      <h1>SCORE<span style="font-size: 12px;">Make cricket simple</span></h1>
    </div>
  </div>
  <div class="row mt-2">
    <span class="text-danger ml-1" (click)="dispalyRules()"> Click to Set Rules for wide and no ball</span>
    <div class="col-12" *ngIf="isDisplayRules">
      <!-- <div class="btn-group" role="group" aria-label="Basic example"> -->
        <!-- <button type="button" class="btn btn-secondary" [ngClass]="{'btn-success':isWideRun}" (click)="toggleWideRun()">Wide Run</button> -->
        <!-- <button type="button" class="btn btn-secondary ml-1" [ngClass]="{'btn-success':isNbRun}" (click)="toggleNbRun()">Nb Run</button> -->
            <div class="form-check-inline">
              <label class="btn btn-sm btn-outline-secondary" [ngClass]="{'btn-success extra-run-active': isWideRun }">Wide Run</label>
              <input type="checkbox" class="extra-ball-input" [ngClass]="{'btn-success extra-run-active': isWideRun }" id="cbx" name="isWideRun" [(ngModel)]="isWideRun">
              <!-- <label for="cbx" class="toggle" (click)="toggleWideRun()"><span></span></label>  -->
            </div>
            <div class="form-check-inline">
              <label  class="btn btn-sm btn-outline-secondary" [ngClass]="{'btn-success extra-run-active': isNbRun }">Nb Run</label>
              <input type="checkbox" class="extra-ball-input" [ngClass]="{'btn-success extra-run-active': isNbRun }" id="cbx2" name="isNbRun" [(ngModel)]="isNbRun"  >
              <!-- <label for="cbx2" class="toggle"  (click)="toggleNbRun()"><span></span></label>  -->
            </div>

      <!-- </div> -->
    </div>
  </div>
  <!-- <div class="row d-none">
    <div class="col-2 offset-3 text-center">
      <h3 class="text-center btn btn-sm btn-success m-3" style="display: inline-block;">
          {{tripal}}
      </h3>
    </div>
    <div class="col-2 text-center">
      <h3 class="text-center btn btn-sm btn-info m-3" style="display: inline-block;">
          {{double}}
      </h3>
    </div>
    <div class="col-2 text-center">
      <h3 class="text-center btn btn-sm btn-danger m-3" style="display: inline-block;">
          {{unit}}
      </h3>
    </div>
  </div> -->
  <div class="row">
    <div class="col-12 text-center">
      <span class="text-center btn btn-sm btn-warning m-3" style="display: inline-block; font-size: 20px;">
        Total Score - {{sum}}/{{wkt}}
      </span>
    </div>
  </div>
  <div class="row  mb-2">
    <div class="col-12 text-center">
      <span class="text-center text-dark" style="display: inline-block; font-size: 20px;">
          <strong>Inning -</strong> <span class="badge badge-light">{{currentInning}} </span>
           / 
      <strong>Over - </strong> <span class="badge badge-light">{{runningOver}} . {{runningOverBall}}</span>
      </span>
    </div>
  </div>
  <!-- <div class="row d-none" [ngClass]="{'light-grn-bg': sum > 98 }">
    <div class="col-12  text-center">
      <button class="btn btn-sm btn-secondary m-3" [disabled]="sum < 99" [ngClass]="{'btn-success':tripal === 0}" (click)="changeTripal(0)"> 0 </button>
      <button class="btn btn-sm btn-secondary m-3" [disabled]="sum < 99" [ngClass]="{'btn-success':tripal === 1}" (click)="changeTripal(1)"> 1 </button>
      <button class="btn btn-sm btn-secondary m-3" [disabled]="sum < 99" [ngClass]="{'btn-success':tripal === 2}" (click)="changeTripal(2)"> 2 </button>
      <button class="btn btn-sm btn-secondary m-3" [disabled]="sum < 99" [ngClass]="{'btn-success':tripal === 3}" (click)="changeTripal(3)"> 3 </button>
      <button class="btn btn-sm btn-secondary m-3" [disabled]="sum < 99" [ngClass]="{'btn-success':tripal === 4}" (click)="changeTripal(4)"> 4 </button>
      <button class="btn btn-sm btn-secondary m-3" [disabled]="sum < 99" [ngClass]="{'btn-success':tripal === 5}" (click)="changeTripal(5)"> 5 </button>
      <button class="btn btn-sm btn-secondary m-3" [disabled]="sum < 99" [ngClass]="{'btn-success':tripal === 6}" (click)="changeTripal(6)"> 6 </button>
      <button class="btn btn-sm btn-secondary m-3" [disabled]="sum < 99" [ngClass]="{'btn-success':tripal === 7}" (click)="changeTripal(7)"> 7 </button>
      <button class="btn btn-sm btn-secondary m-3" [disabled]="sum < 99" [ngClass]="{'btn-success':tripal === 8}" (click)="changeTripal(8)"> 8 </button>
      <button class="btn btn-sm btn-secondary m-3" [disabled]="sum < 99" [ngClass]="{'btn-success':tripal === 9}" (click)="changeTripal(9)"> 9 </button>
    </div>
  </div> -->

  <!-- <div class="row d-none" [ngClass]="{'light-blu-bg': sum > 8 }">
    <div class="col-12  text-center">
      <button class="btn btn-sm m-3 btn-secondary" [disabled]="sum < 9" [ngClass]="{'btn-info':double === 0}" (click)="changeDouble(0)"> 0 </button>
      <button class="btn btn-sm m-3 btn-secondary" [disabled]="sum < 9" [ngClass]="{'btn-info':double === 1}" (click)="changeDouble(1)"> 1 </button>
      <button class="btn btn-sm m-3 btn-secondary" [disabled]="sum < 9" [ngClass]="{'btn-info':double === 2}" (click)="changeDouble(2)"> 2 </button>
      <button class="btn btn-sm m-3 btn-secondary" [disabled]="sum < 9" [ngClass]="{'btn-info':double === 3}" (click)="changeDouble(3)"> 3 </button>
      <button class="btn btn-sm m-3 btn-secondary" [disabled]="sum < 9" [ngClass]="{'btn-info':double === 4}" (click)="changeDouble(4)"> 4 </button>
      <button class="btn btn-sm m-3 btn-secondary" [disabled]="sum < 9" [ngClass]="{'btn-info':double === 5}" (click)="changeDouble(5)"> 5 </button>
      <button class="btn btn-sm m-3 btn-secondary" [disabled]="sum < 9" [ngClass]="{'btn-info':double === 6}" (click)="changeDouble(6)"> 6 </button>
      <button class="btn btn-sm m-3 btn-secondary" [disabled]="sum < 9" [ngClass]="{'btn-info':double === 7}" (click)="changeDouble(7)"> 7 </button>
      <button class="btn btn-sm m-3 btn-secondary" [disabled]="sum < 9" [ngClass]="{'btn-info':double === 8}" (click)="changeDouble(8)"> 8 </button>
      <button class="btn btn-sm m-3 btn-secondary" [disabled]="sum < 9" [ngClass]="{'btn-info':double === 9}" (click)="changeDouble(9)"> 9 </button>
    </div>
  </div> -->

  <!-- <div class="row light-red-bg d-none">
    <div class="col-12  text-center">
      <button class="btn btn-sm m-3 btn-secondary" [ngClass]="{'btn-danger':unit === 0}" (click)="changeUnit(0)"> 0 </button>
      <button class="btn btn-sm m-3 btn-secondary" [ngClass]="{'btn-danger':unit === 1}" (click)="changeUnit(1)"> 1 </button>
      <button class="btn btn-sm m-3 btn-secondary" [ngClass]="{'btn-danger':unit === 2}" (click)="changeUnit(2)"> 2 </button>
      <button class="btn btn-sm m-3 btn-secondary" [ngClass]="{'btn-danger':unit === 3}" (click)="changeUnit(3)"> 3 </button>
      <button class="btn btn-sm m-3 btn-secondary" [ngClass]="{'btn-danger':unit === 4}" (click)="changeUnit(4)"> 4 </button>
      <button class="btn btn-sm m-3 btn-secondary" [ngClass]="{'btn-danger':unit === 5}" (click)="changeUnit(5)"> 5 </button>
      <button class="btn btn-sm m-3 btn-secondary" [ngClass]="{'btn-danger':unit === 6}" (click)="changeUnit(6)"> 6 </button>
      <button class="btn btn-sm m-3 btn-secondary" [ngClass]="{'btn-danger':unit === 7}" (click)="changeUnit(7)"> 7 </button>
      <button class="btn btn-sm m-3 btn-secondary" [ngClass]="{'btn-danger':unit === 8}" (click)="changeUnit(8)"> 8 </button>
      <button class="btn btn-sm m-3 btn-secondary" [ngClass]="{'btn-danger':unit === 9}" (click)="changeUnit(9)"> 9 </button>
    </div>
  </div> -->

  <div class="row light-grn-bg">
    <div class="col-12  text-center">
      <button class="btn btn-sm m-3 btn-secondary" [ngClass]="{'btn-danger':thisRun === 0}" (click)="updateTotal(0)"> 0 </button>
      <button class="btn btn-sm m-3 btn-secondary" [ngClass]="{'btn-danger':thisRun === 1}" (click)="updateTotal(1)"> 1 </button>
      <button class="btn btn-sm m-3 btn-secondary" [ngClass]="{'btn-danger':thisRun === 2}" (click)="updateTotal(2)"> 2 </button>
      <button class="btn btn-sm m-3 btn-secondary" [ngClass]="{'btn-danger':thisRun === 3}" (click)="updateTotal(3)"> 3 </button>
      <button class="btn btn-sm m-3 btn-secondary" [ngClass]="{'btn-danger':thisRun === 4}" (click)="updateTotal(4)"> 4 </button>
      <button class="btn btn-sm m-3 btn-secondary" [ngClass]="{'btn-danger':thisRun === 5}" (click)="updateTotal(5)"> 5 </button>
      <button class="btn btn-sm m-3 btn-secondary" [ngClass]="{'btn-danger':thisRun === 6}" (click)="updateTotal(6)"> 6 </button>
      <button class="btn btn-sm m-3 btn-secondary" [ngClass]="{'btn-danger':thisRun === 'Wkt'}" (click)="updateTotal('Wkt')"> OUT </button>
      <button class="btn btn-sm m-3 btn-secondary" [ngClass]="{'btn-danger':thisRun === 'Wd'}" (click)="updateTotal('Wd')"> Wd </button>
      <button class="btn btn-sm m-3 btn-secondary" [ngClass]="{'btn-danger':thisRun === 'Nb'}" (click)="updateTotal('Nb')"> Nb </button>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-6">
      <button type="button" class="btn btn-primary btn-sm btn-block" (click)="endOver()">End Over</button>
    </div>
    <div class="col-6">
      <button type="button" class="btn btn-secondary btn-sm btn-block" (click)="endInning()">End Inning</button>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-8 offset-3">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" [ngClass]="{'btn-info':isThisOver}" (click)="toggle()">This Over</button>
        <button type="button" class="btn btn-secondary" [ngClass]="{'btn-info':!isThisOver}" (click)="toggle(); getHistory()">History</button>
      </div>
    </div>
  </div>
  <div class="row mt-2" *ngIf="isThisOver">
    <div class="col-12">
      <h4 class="text-center">
        THIS OVER -  <span class="badge badge-light">{{runsInThisOver}}</span>
      </h4>
    </div>
    <div class="col-12 text-center" *ngIf="thisOver.length > 0 && !isWantToUpdate">
      <button class="btn btn-sm btn-outline-success" type="button" (click) ="onWantToUpdate()">
        Update Over
      </button>
    </div>

    <div class="light-red-bg text-center" *ngIf="isWantToUpdate">
      <div class="col-12 mt-1 mb-1" >
        <div class="row">
          <span class="ml-1" *ngFor="let data of thisOver; let i =index; ">
            <select [value]="data" class="form-control" (change)="onUpdatingRuns($event, i)"> 
              <option value='0'>0</option>
              <option value='1'>1</option>
              <option value='2'>2</option>
              <option value='3'>3</option>
              <option value='4'>4</option>
              <option value='5'>5</option>
              <option value='6'>6</option>
              <option value='Wkt'>OUT</option>
              <option value='Wd'>Wd</option>
              <option value='Nb'>Nb</option>
              <option value='Wd + 1' >Wd + 1</option>
              <option value='Nb + 1'>Nb + 1</option>
            </select>
          </span>
        </div>
      </div>
      <div class="col-12  text-center">
        <button class="btn btn-sm btn-outline-success" type="button" (click)="changeOverRuns()" >Save Changes</button>
        <button class="btn btn-sm btn-secondary ml-2" type="button" (click)="cancelWantToUpdate()" >Cancel</button>
      </div>
    </div>
    



    <div class="col-12">
        <button type="button" class="btn btn-light m-1 this-over-bg" *ngFor="let data of thisOver">{{data}}</button>
    </div>
  </div>

  <div class="row mt-2" *ngIf="!isThisOver">
      <div class="col-12">
        <h4 class="text-center">
          History <span style="font-size: 12px; color: red;" (click)="clearFullHistory()">clear history ?</span>
        </h4>
      </div>
      <div class="col-12">
          <pre>
            {{history | json}}
          </pre>
      </div>
    </div>
</div>